    <div class="column <%= issue.is_open ? "has-background-warning" : "has-background-info" %>">
      <p>Text : <span class="has-text-weight-bold"><%= issue.text %></span></p>
      <p>Kilometer : <span class="has-text-weight-bold"><%= issue.kilometer %></span></p>
    </div>