<aside class="menu">
  <p class="menu-label">
    Brands
  </p>
  <ul class="menu-list">
    <li>
      <%= link_to 'Brand list', brands_path %>
    </li>
    <li>
      <%= link_to 'Add brand', new_brand_path %>
    </li>
  </ul>
</aside>
