<div class="columns is-centered met-6">
  <div class="column is-one-third">
    <h1 class="is-size-2 has-text-weight-bold mb-3">
      New Vehicle
    </h1>
    <%= render 'form', vehicle: @vehicle %>
  </div>
</div>
