<% content_for :title do %>
Issues
<% end %>

<div class="columns mt-6">
  <%= render @vehicle %>
  <%= render "issues/vehicle-issue-form", vehicle: @vehicle %>
</div>
<div class="columns is-multiline">
  <%= render @vehicle.issues %>
</div>