<% content_for :title do %>
Issues
<% end %>
<div class="card p-3 mt-3">
  <div class="columns mt-1">
    <div class="column is-one-quarter is-narrow">
      <%= render "vehicles/vehicle-card-light", vehicle: @vehicle %>
    </div>
    <div class="column">
      <%= render "issues/vehicle-issue-form", vehicle: @vehicle %>
    </div>
  </div>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th><abbr title="Kilometer">Km</abbr></th>
        <th><abbr title="Description">Desc</abbr></th>
        <th><abbr title="Open/Close">Open/Close</abbr></th>
      </tr>
    </thead>
    <tbody id="issues">
      <%= render @vehicle.issues %>
    </tbody>
  </table>
</div>